{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="main text-center">
        <form class="form-signin" action="{{ path('login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <img class="mb-4" src="{{ asset('images/Bootstrap.svg') }}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {% if error %}
                <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <label for="username" class="sr-only">Email address</label>
            <input type="text" id="username" class="form-control" placeholder="Username address" name="_username"
                   autofocus value="{{ last_username }}">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" name="_password" placeholder="Password">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
        </form>
    </div>
{% endblock %}
